body {
    margin: 0;
    font-family: 'Red Hat Text', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f6f8;
}

.container {
    max-width: 375px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.advice-container {
    padding: 24px;
    text-align: center;
}

#diceBtn {
    background-color: #2acfcf;
    padding: 16px;
    cursor: pointer;
    border: none;
    outline: none;
}

#diceBtn img {
    width: 24px;
    height: 24px;
}
