/* General styling for the web app */

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(218, 23%, 16%);
    color: hsl(193, 38%, 86%);
}

.container {
    max-width: 375px;
}

.card {
    background-color: hsl(193, 38%, 86%);
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.advice-container {
    padding: 24px;
    text-align: center;
}

#diceBtn {
    background-color: hsl(150, 100%, 66%);
    padding: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
}

#diceBtn img {
    width: 24px;
    height: 24px;
   
}

#adviceText {
    font-size: 28px;
    color: hsl(217, 19%, 38%);
}
